<<<<<<< HEAD
<!-- User sign up form -->

<div class="user_signup_form">
<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, :autofocus => true %>
  </p>
  <p>
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </p> 
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
=======
<div class='user-form'>
>>>>>>> 250b0b09c0a19b6b58e683bcd700da6e577c7b45

  <%= form_for @user do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username, :autofocus => true %>
    </p>
    <p>
      <%= f.label :avatar %>
      <%= f.text_field :avatar %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>

    <%= f.submit %>
  <% end %>

</div>
