<ul>
  <li><%= link_to('Corporate information', '#') %></li>
  <li><%= link_to("Directors' report", '#') %></li>
  <li><%= link_to('Corporate governance statement', '#') %></li>
  <li><%= link_to('Consolidated statement of profit or loss', '#') %></li>
  <li><%= link_to('Consolidated statement of other comprehensive income', '#') %></li>
  <li><%= link_to('Consolidated statement of financial position ', '#') %></li>
  <li><%= link_to('Consolidated statement of changes in equity', '#') %></li>
  <li><%= link_to('Consolidated statement of cash flows', '#') %></li>
  <li><%= link_to('Notes to the consolidated financial statements', '#') %></li>
</ul>

<%= link_to('Create New Document', new_document_path) %>

<!-- Essentially, this will be an each loop going through all the documents and listing them by their titles -->

