<div class='front-page' id='employees-page'></div>

<div class='main'>

  <h2>Our people</h2>

  <div class='content'>
    <div class='row'>
      <div class='profile'>
        <%= image_tag('head_barraclough.jpg', :class => 'profile-img') %>
        <p><strong>Chairman</strong><br>J. Barraclough</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_boiteau.jpg', :class => 'profile-img') %>
        <p><strong>CEO</strong><br>M.P. Boiteau</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_mullere.jpg', :class => 'profile-img') %>
        <p><strong>CFO</strong><br>C.P. Muller</p>
      </div>
    </div>

    <div class='row'>
      <div class='profile'>
        <%= image_tag('head_vandenberg.jpg', :class => 'profile-img') %>
        <p><strong>Director of Legal</strong><br>F. van den Berg</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_lockwood.jpg', :class => 'profile-img') %>
        <p><strong>Non-Executive Director</strong><br>A.N. Lockwood</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_evans.jpg', :class => 'profile-img') %>
        <p><strong>Director</strong><br>M. Evans</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_vlahov.jpg', :class => 'profile-img') %>
        <p><strong>Chairman, Audit Commitee</strong><br>M.A. Vlahov</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_smart.jpg', :class => 'profile-img') %>
        <p><strong>Non-Executive Director</strong><br>C. Smart</p>
      </div>

      <div class='profile'>
        <%= image_tag('head_garcia.jpg', :class => 'profile-img') %>
        <p><strong>Director</strong><br>P.R. Garcia</p>
      </div>
    </div>
  </div>

</div>