<!-- This is the document form template, including nested Visuals form  -->

<div class='document-form'>

<% unless @document.errors.empty? %>
  <%= @document.errors.full_messages %>
<% end %>

  <%= form_for @document do |f| %>
    <p>
      <%= f.label :title, "Document Title" %>
      <%= f.text_field :title, :autocomplete => 'off', :autofocus => true %>
    </p>
    <p>
      <%= f.label :content, "Document Content" %>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.label :pagenumber, "Page number" %>
      <%= f.number_field :pagenumber, in: 1...99999 %>
    </p>
    <!-- nested form to handle uploading image to a document -->
    <%= f.fields_for :visuals do |visual| %>
        <%= render 'visual_fields', :f => visual %>
      <% end %>
    <div class="add_images_links">
      <%= link_to_add_association 'Add Visual', f, :visuals %>
    </div><!-- add_images_link -->

  <div id="document_form_button">
    <%= f.submit %>
  </div>
  <% end %>
</div>

