<!-- This is the NESTED Visuals form template -->

<div class="visual_form">
  <div class="visual_form_title">
    <%= f.label :title, 'Image Title' %>
    <%= f.text_field :title %>
  </div>
  <p>
    <%= f.label :image, 'Image Link/Upload'%>
    <%= f.text_field :remote_image_url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </p>

</div><!-- visual_form -->
