<!-- Main document view (with index view on the side) and allows a signed-in user to edit, remove export documents -->

<div class='empty-black'></div>

<div class='main'>

  <p><%= paginate Document.page(params[:page]).per(1), :window => 0 %></p>

   <h2><%= @document.title if @document%></h2>
      <p id='doc-content'><%= highlight(markdown(@document.content), params[:search_term]) if @document%></p>
      <% if @document.pagenumber %>
        <p>Page number: <%= @document.pagenumber %></p>
      <% end %>

      <% @document.visuals.each do |visual| %>
      <div>
        <p><%= visual.title %></p>
        <%= image_tag visual.image_url, :class => 'doc_img' if visual.image %>
        <%= link_to 'delete', visual, :data =>{:confirm => 'Remove image?', :method => :delete} %>
      </div>
    <% end %>

  
  <p><%= paginate Document.page(params[:page]).per(1), :window => 0 %></p>

  <% if @current_user && @current_user.is_admin? %>

    <%= link_to('Edit', edit_document_path(@document)) %>
    | <%= link_to('Remove', @document, :data => {:confirm => 'Are you sure?', :method => :delete }) %>
    | <%= link_to('Export Via JSON',export_documents_path) %>

    <% @document.visuals.each do |v| %>
      <%= v.image_url %><br/>
    <% end %>
  <% end %>
</div>