<!-- Main document view (with index view on the side) and allows a signed-in user to edit, remove export documents -->

<div class='empty-black'></div>

<div class='main'>

  <%= paginate Document.page(params[:page]).per(1), :window => 0 %><br/>

  <h2><%= @document.title if @document%></h2>
  <%= highlight(markdown(@document.content), params[:search_term]) if @document%>
  
  <p><%= paginate Document.page(params[:page]).per(1), :window => 0 %></p>

  <% if @current_user && @current_user.is_admin? %>

    <%= link_to('Edit', edit_document_path(@document)) %>
    | <%= link_to('Remove', @document, :data => {:confirm => 'Are you sure?', :method => :delete }) %>
    | <%= link_to('Export Via JSON',export_documents_path) %>

    <% @document.visuals.each do |v| %>
      <%= v.image_url %><br/>
    <% end %>
  <% end %>
</div>