<div class='empty-black'></div>

<div class='main'>

  <h2><%= @document.title if @document%></h2>
    <%= markdown @document.content if @document%>
    <% if @document.pagenumber %>
  <% end %>

  <%= paginate Document.page(params[:page]).per(1), :window => 0 %><br/>

  <% if @current_user && @current_user.id == @document.user_id %>

    <%= link_to('Edit', edit_document_path(@document)) %>

    <% if @current_user.try(:is_admin) %>
      | <%= link_to('Export Via JSON',export_documents_path) %>
    <% end %>

    <% @document.visuals.each do |v| %>
      <%= v.image_url %><br/>
    <% end %>
  <% end %>
</div>