<!-- Main document view (with index view on the side) and allows a signed-in user to edit, remove export documents -->

<div class='empty-black'></div>

<div class='main'>

  <p><%= paginate Document.page(params[:page]).per(1), :window => 0 %></p>

   <h2><%= @document.title if @document%></h2>
      <p id='doc-content'><%= highlight(markdown(@document.content), params[:search_term]) if @document%></p>


      <% @document.visuals.each do |visual| %>
      <div>
   
        <%= image_tag visual.image_url, :class => 'doc_img' if visual.image %>

      </div>
    <% end %>

  
  <p><%= paginate Document.page(params[:page]).per(1), :window => 0 %></p>

  <% if @current_user && @current_user.is_admin? %>

    <%= link_to('Edit', edit_document_path(@document)) %>
    | <%= link_to('Remove Document', @document, :data => {:confirm => 'Please confirm to Remove Document?', :method => :delete }) %>

<% @document.visuals.each do |visual| %>
| <%= link_to 'Remove Image', visual, :data =>{:confirm => 'Please confirm to Remove Image?', :method => :delete} %>
<% end %>

    | <%= link_to('Export Via JSON',export_documents_path) %>

    <% @document.visuals.each do |v| %>
      <p>Image path : <%= v.image_url %><br/></p>
    <% end %>
  <% end %>
</div>