<!-- This displays the individual document and allows the user to edit or remove it.
It also lists the relating revision number to the document -->
<div class='empty-black'></div>

<div class='main'>

  <div class="documents_show">
    <div id="documents_show_notes">

    <!--showing document title and contents -->
      <h2><%= @document.title if @document%></h2>
      <p><%= markdown @document.content if @document%></p>
      <% if @document.pagenumber %>
        <p>Page number: <%= @document.pagenumber %></p>
      <% end %>


      <% @document.visuals.each do |visual| %>
        <div>
          <p><%= visual.title %></p>
          <%= image_tag visual.image_url(:thumb) if visual.image %>
          <%= link_to 'delete', visual, :data =>{:confirm => 'Remove image?', :method => :delete} %>
        </div>
      <% end %>


      <% if @current_user && @current_user.is_admin? %>
        <p>By <%= @document.user.firstname if @document.user %> <%= @document.user.lastname if @document.user %></p>
        <p><%= link_to('Edit', edit_document_path(@document)) %> |
        <%= link_to('Remove', @document, :data => {:confirm => 'Remove document?', :method => :delete }) %></p>

          <% unless @document.revisions.empty? %>
            <li>This document has the following revisions:</li>
            <% @document.revisions.each do |revision| %>
            <li>revision number <%= link_to revision.id, revision_path(revision) %> was last revised by
              <%= User.where(:id => revision.user_id).first.try(:username) %>.</li>
            <% end %>
          <% end %>
        </ul>
      <% end %>

    </div><!-- documents_show_notes -->
  </div><!-- documents_show -->

  <% if @current_user && @current_user.id == @document.user_id %>
    <div id="documents_show_menu">
      <%= paginate @documents %>
    </div><!-- documents_show_menu -->
  <% end %>

</div>
