<div class='empty-black'></div>

<h1> Forum Feed </h1>

<ul>


  <% @posts.reverse.each do |post| %>


  <div class="userfont">

        <% if post.user %>
          <li>User: <%= link_to(post.user.username, post_path(post)) %> </li>
           <% else %>
             <li>User: <%= post.username  %> </li>
          <% end %>

           <div class="truncate">

                 <li>Title: <%= link_to(truncate(raw(post.title)), post_path(post), escape: false) %></li>


                <li>Post: <%= truncate(raw(post.body), escape: false) %> </li>
          </div>

            <li> <%= link_to('Create a new Forum', new_post_path) %></li>

     <%= link_to'Delete', post , :class => 'delete',:method => :delete, :confirm => "Are you sure you want to delete this Post?" %>

<hr>


   <% end %>