<!DOCTYPE html>
<html>

<head>
  <title>enterprise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

  <header class="navigation">
    <%= render :partial => "/shared/nav_top"%>
  </header>

  <div id='hamburger'>
  </div>

  <div id='side-menu'>
    <%= render :partial => "/shared/nav_side"%>
  </div>

  <div id="container">

    <%= yield %>

  </div>

  <footer>
    <div class='col-md-4'>
      <h4>CONTACT</h4>
      <p>
        200 George St<br>
        Sydney NSW 2000<br>
        (02) 8888 8888<br>
        contact@ey.com.au
      </p>
    </div>

    <div class='col-md-4'>
      <%#= render :partial => '/shared/nav_forum' %>
    </div>

    <div class='col-md-4'>
      <%= render :partial => "/shared/nav_bottom"  %>
    </div>

  </footer>
</body>

</html>