<!DOCTYPE html>
<html>

<head>
  <title>enterprise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

  <header class="navigation">
    <%= render :partial => "/shared/nav_top"%>
  </header>

  <div id='hamburger'>
  </div>

  <div id='side-menu'>
    <%= render :partial => "/shared/nav_side"%>
  </div>

  <div id="container">

    <%= yield %>

  </div>

  <footer>

    <div class='col-md-4'>
      <h4>FIND US</h4>
      <p>
        Bush Avenue<br>
        Mulberry Park<br>
        61 3 9876 5432<br>
        contact@au.enterprise.com
      </p>
    </div>

    <div class='col-md-4'>
      <%= render :partial => '/shared/nav_forum' %>
    </div>

    <div class='col-md-4'>
      <%= render :partial => "/shared/nav_login"  %>
    </div>

  </footer>

  <script src='googleanal.js'></script>

</body>

</html>